.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  transition: 0.2s ease;
}

.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sections {
  gap: 5rem;
}

.home {
  span {
    font-size: 20px;
    font-weight: 900;
    color: #ff651c;
  }
}

.sections,
.links,
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
}

.line {
  position: relative;
  cursor: pointer;
  transition: ease 0.2s;
  a {
    text-decoration: none;
    color: black;
  }
}
.line:hover {
  color: #ff651c;
  transition: ease 0.2s;
}

.line:after {
  position: absolute;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #ff651c;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  right: 0;
  left: auto;
}
.line:hover:after {
  width: 100%;
  right: auto;
  left: 0;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}
