.wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../../../../public/bg-effect-splash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #373737;
}
.title {
  color: #ff651c;
}
.info {
  color: #ff651c;
  text-decoration: underline;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

@media (max-width: 1000px) {
  .contentWrapper {
    .content {
      grid-template-columns: 1fr;
    }
    .contacts {
      display: flex;
      gap: 1rem;
    }
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  position: relative;
  z-index: 999;
  gap: 3rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-items: center;
  h4 {
    color: white;
  }
}
