* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  color: #373737;
  scroll-behavior: smooth !important ;
}
body {
  overflow-y: hidden;
}
h1 {
  font-size: 60px;
}
p {
  color: #555;
  font-size: 18px;
}
