.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 35px;
  gap: 0.5rem;
  .twoinline {
    display: flex;
    gap: 0.5rem;
    .MuiFormControl-root {
      width: 100%;
    }
  }
}
